* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background-size: cover;
  position: relative;
}

#root {
  max-width: 70%;
  margin: 3em auto;
}

#overroot {
  position: relative;
  width: 100%;
  /* height: 100%; */
}

#background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
  z-index: -1; /* Ensures the background image is behind other content */
}
footer {
  background: url("../assets/images/insurance-footer-background.png") no-repeat;
  background-size: cover;
  height: 250px;
}
#underroot {
  background: url("../assets/images/space2.jpg") no-repeat;
  background-size: cover;
  /* height: 350px; */
}
#doubleUnderRoot {
  background-color: #ededed;
}
#ritualTitle {
  font-weight: bold;
  margin-bottom: 1.5em;
  text-align: center;
  color: black;
}

p {
  color: #3f4244;
  font-size: 2em;
  /* text-align: ce; */
  line-height: 1.5em;
  margin-bottom: 1em;
}
#link {
  text-decoration: inherit;
  color: black;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  padding: 2em;
  font-size: 1.5em;
  background-color: #9e81f5;
  opacity: 0.9;
  border-radius: 16px;
}

#explore {
  margin-bottom: 2em;
  transition: transform 0.3s;
  text-align: center;
}

.jamesHolder {
  margin: 3em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background: rgb(0 36 72 / 70%);
  border-radius: 15px;
}
.ritualHolder {
  margin: 3em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 15px;
  background: rgb(204 230 255 / 70%);
  padding: 4em;
}

q {
  font-family: lora;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.pageTitle {
  text-align: center;
  padding: 3em;
  font-weight: bolder;
}

#clickBtn {
  width: 100%;
  height: 100px;
  border-radius: 20px;
  font-size: 2.5em;
}

.hovWhite :hover {
  color: white !important;
}
.pageSubTitle {
  font-size: 60px;
  color: white;
}
#mainImg {
  max-width: 60%;
  cursor: pointer;
}
.supportHolder {
  text-align: center;
  padding: 3em;
  background-color: white;
  text-align: center;
}
.dr-james {
  color: white;
  font-size: 20px;
  text-align: center;
}
#drJamesImg {
  width: 185px;
  border-radius: 25px;
  cursor: pointer;
}
#nasaPic {
  float: left;
  width: 350px;
}
.nasa-text {
  font-weight: bold;
  line-height: 2.3;
}
.photo {
  width: 12%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
#facebookParagraph {
  max-width: 50%;
  padding-top: 30px;
  margin: auto;
}
@media only screen and (max-width: 1050px) {
  .pageTitle {
    padding: 0.5em;
    margin-bottom: 0.75em;
  }
  .photo {
    width: 200px;
    margin-bottom: 1em;
  }
  #root {
    max-width: 100% !important;
    box-shadow: none;
    font-size: 13px;
  }
  h1 {
    padding: 5px;
  }
  .pageSubTitle {
    font-size: 32px;
  }
  #nasaPic {
    width: 100%;
  }
  q {
    font-size: 18px;
    line-height: 2;
  }
  #drJamesImg {
    width: 125px;
  }
  .dr-james {
    font-size: 15px;
  }
  .ritualHolder {
    margin: 1em;
    padding: 2em;
  }
  .nasa-text {
    font-weight: bold;
    line-height: 2;
    font-size: 18px;
  }
  #clickBtn {
    border-radius: 10px !important;
    height: 50px;
    font-size: 13px !important;
  }
  #mainImg {
    max-width: 90%;
  }
  #ritualTitle {
    font-size: 27px;
    margin-bottom: 1em;
  }
  .supportRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    height: 320px;
  }
  #facebookParagraph {
    max-width: 90%;
  }
}
img {
  transition: all 0.4s ease-in-out;
}
#supportImg,
#nasaPic,
.photo {
  cursor: pointer;
}
#mainImg:hover {
  transform: scale(1.1);
  -webkit-filter: brightness(60%);
}
img:hover {
}

/* add references as scroll bar  */
