* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  background-color: #c3e0e2;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/yogaBg.webp");
  background-position: top;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
}
#titleBg {
  background-color: #2e4c2e;
  background-image: url("../assets/images/bgStars.avif");
  background-size: contain;
}
.mainText p {
  font-size: 28px;
  font-family: "circular";
}
#thirdHolder {
  padding: 1em;
  font-size: 25px;
  text-align: center;
  color: white;
  background-color: #2e4c2e;
  /* scale: 1.2; */
  font-weight: bold;
}
#thirdHolder {
  border-radius: 10px;
  /* width: fit-content; */
  cursor: pointer;
}
.importantSpan {
  color: #fe0046;
}
.activateTitle {
  font-weight: bold;
  font-family: revert;
  text-decoration: underline;
  color: black;
}
.callToAc {
  all: unset;
  cursor: pointer;
  font-weight: bold;
  font-size: 40px;
}
.mainText {
  max-width: 100%;
  margin: 3em;
}

#overroot {
  margin-top: 0.5em;
}

footer {
  height: 250px;
  background-color: #2e4c2e;
}

#ritualTitle {
  font-weight: bolder;
  margin-bottom: 1.5em;
  text-align: center;
  color: red;
}

p {
  color: black;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 1em;
}
#explore {
  margin-bottom: 2em;
  transition: transform 0.3s;
  text-align: center;
}

q {
  font-family: lora;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.pageTitle {
  text-align: center;
  padding: 3em;
  font-weight: bolder;
}

.hovWhite :hover {
  color: white !important;
}
.pageSubTitle {
  font-size: 40px;
  color: black;
  width: 70%;
  margin: auto;
  font-weight: bolder;
  /* line-height: 1.5em; */
  font-family: Lato, sans-serif !important;
}
#mainImg {
  max-width: 85%;
  margin-top: 10px;
  margin-bottom: 2em;
  cursor: pointer;
}
.supportHolder {
  text-align: center;
  padding: 3em;
  background-color: white;
  text-align: center;
}

#facebookParagraph {
  max-width: 50%;
  padding-top: 30px;
  margin: auto;
}
.titleBgText {
  color: white;
  font-weight: bold;
  font-size: 45px;
  padding: 1.1em;
  font-family: monospace;
}
#yogaImg {
  max-width: 70%;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.goldy {
  color: gold;
}
#hrefHolder {
  margin: 0 4em;
}
@media only screen and (max-width: 1050px) {
  #hrefHolder {
    margin: 0;
  }
  .callToAc {
    font-size: 30px;
  }
  #thirdHolder {
    font-size: 20px;
    margin: 2px;
    scale: 1;
  }
  .activateTitle {
    font-weight: normal;
    font-size: 25px;
    padding: 0;
    line-height: 1.7;
    margin: 0;
  }
  .mainText {
    margin: 10px;
  }
  #yogaImg {
    max-width: 95%;
  }
  .titleBgText {
    color: white;
    font-weight: bold;
    font-size: 28px;
    font-family: monospace;
    padding: 0.99em;
    line-height: 1.7;
  }
  #overroot {
    margin: 0;
    padding: 0;
  }
  .photo {
    width: 200px;
    margin-bottom: 1em;
  }
  #root {
    /* max-width: 100% !important;
    box-shadow: none;
    font-size: 13px; */
  }
  h1 {
    padding: 5px;
  }
  .pageSubTitle {
    font-size: 32px;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  q {
    font-size: 18px;
    line-height: 2;
  }

  #mainImg {
    max-width: 98%;
  }
  #ritualTitle {
    font-size: 27px;
    margin-bottom: 1em;
  }
  .supportRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    height: 330px;
    /* padding: 10px; */
  }
  #facebookParagraph {
    max-width: 90%;
  }
}
img,
button,
#clickBtn {
  transition: all 0.4s ease-in-out;
}
#supportImg,
#nasaPic,
.photo {
  cursor: pointer;
}
#mainImg:hover {
  transform: scale(1.03);
  -webkit-filter: brightness(60%);
}
#clickBtn:hover {
  transform: scale(1.03);
}

#countdown {
  text-align: center;
  margin: auto;
  padding: 24px 0;
  margin-bottom: 2em;
}

#countdown:before {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  left: -10px;
}

#countdown:after {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  right: -10px;
}

#countdown #tiles {
  position: relative;
  z-index: 1;
}

#countdown #tiles > .fomo > span:before {
  content: "";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%;
  left: -3px;
  z-index: -1;
}

#countdown #tiles > .fomo > span:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%;
  left: 0;
}
#countdown .labels {
  width: 100%;
  height: 25px;
  text-align: center;
  margin-top: 1em;
}

#countdown .labels li {
  width: 102px;
  font: bold 15px "Droid Sans", Arial, sans-serif;
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
.time_data {
  font: bold 15px "Droid Sans", Arial, sans-serif;
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

#gifBottom {
  max-width: 100% !important;
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.mod-head {
  font-size: 50px !important;
  line-height: 1.4em !important;
}

.no-hover-effect {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Keep text color same as parent */
}

.no-hover-effect:hover {
  text-decoration: none; /* Ensure underline doesn't appear on hover */
  color: inherit; /* Ensure text color doesn't change on hover */
}
